{erl_first_files, [
    "src/metronome_callback.erl"
]}.

{erl_opts, [
    {d, 'metronome_callback_mod', 'metronome_default_callback'},
    debug_info
]}.

{deps, [
    {forms, "0.0.1"}
]}.

{profiles, [
  {test, [
    {overrides, [
      {override, [
        {erl_opts, [
          {d, 'metronome_callback_mod', 'metronome_test'}
        ]}
      ]}
    ]}
  ]}
]}.