{erl_first_files, [
    "src/stopwatch_callback.erl"
]}.

{erl_opts, [
    {d, 'stopwatch_callback_mod', 'stopwatch_default_callback'},
    debug_info
]}.

{deps, [
    {forms, "0.0.1"}
]}.

{profiles, [
  {test, [
    {overrides, [
      {override, [
        {erl_opts, [
          {d, 'stopwatch_callback_mod', 'stopwatch_test'}
        ]}
      ]}
    ]}
  ]}
]}.